

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.block{
    padding: 150px 0px;   
}
#top-section{
	background-color: white;
}
#first-section{
	background-color: #111;
}
#second-section{
	background-color: white;
}

#third-section{
	background-color: #666;
}
#forth-section{
	background-color: #222;
}

.navbar {
	margin-bottom: 0;
}
















